<%= render :partial => "layouts/head" %>

<div id="container">
<div id="content">
  
<%= content_tag 'p', h(flash[:notice]), :class => 'notice' if flash[:notice] %>
<%= content_tag 'p', h(flash[:error]), :class => 'notice error' if flash[:error] %>

<%= yield %>
</div>

<div id="right">
  <%= yield :right %>
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-4095422081976458";
  /* redarmy.es sidebar */
  google_ad_slot = "4472158933";
  google_ad_width = 160;
  google_ad_height = 600;
  //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
</div>

<br style="clear:both;" />

</div>

<div id="footer">
  <p class="disclaim">
    <strong>
    <% if site = @current_site || Site.first %>
      <%= site.tagline %>
    <% end %>
    </strong>
  </p>
  <br style="clear:both;" />
</div>
</body>
</html>